.garland {
    background-image: url("../images/bg-images/bg-garland.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.gifts-section .section-container {
    gap: 20px
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.filter-button {
    padding: 12px 20px;
    
    border-radius: 12px;
}

.current-filter {
    background-color: rgba(255, 255, 255, 0.2);
}