@media (hover: hover) {
  .header-nav-item:hover {
    color: #FF4646;
    background-color: rgba(255, 70, 70, 0.1);
  }

  .slider-button:hover {
    background-color: #FFFFFF;
    stroke: #FF4646;
  }

  .slider-button:hover path {
    stroke: #FF4646;
  }

  .gifts-button:hover {
    color: #181C29;
    background-color: #FFFFFF;
  }

  .filter-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .card:hover .card-title {
    color: #FF4646;
  }

  .nav-item:hover .text-hover {
    color: #FF4646;
  }

  .social-media-item:hover path {
    stroke: #FF4646;
  } 

  .school-link:hover {
    color: #FF4646;
  }
}