@media only screen and (max-width: 1200px) {
  .footer-nav {
    flex-direction: column;
  }
  
  .site-header {
    padding: 0px 8px;
  }

  .section-container {
    margin: 30px 4px;
    padding: 30px 4px;
  }

  .content-container-text {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }
  .burger-icon {
    display: block;
  }
}

@media only screen and (max-width: 380px) {
  .content-container {
    flex-wrap: wrap;
    padding-top: 60px;
    
  }
  .content-container-text {
    margin: 0 20px;
    width: 100%;
  }
  .filter {
    gap: 0px;
  }

.filter-item {
    padding: 12px 8px;
  }
}