* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-decoration: none;
    
    color: #181C29;
}

ul {
    list-style: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-1 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 18%;
    text-transform: uppercase;
}

.header-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}

.header-3 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 8%;
    text-transform: uppercase;
}

.header-4 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
}

.action-large {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}

.action-small {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}

.caption {
    font-family: "Allura", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
}

.slider-text {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
}

.white {
    color: #FFFFFF;
}

.primary {
    color: #FF4646;
}


.site-header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin: 0px 41px;
    padding: 0px 41px;
}

.logo {
    margin: auto 20px;
    gap: 8px;
}

.header-nav{
    display: flex;
    align-items: center;
    margin: auto 0px;
    gap: 8px;
}

.header-nav li {
    margin: auto 20px;
}

.page-content {  
    display: flex;
    flex-direction: column;
    
    background-color: #FF4646;
    border-radius: 20px;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 41px;
    padding: 30px 41px;
}